@charset "utf-8";
.html {
	padding: 0px;

}
.header {
	background-color: #0000FE;
	color:#ffffff;
	height: 75px;
	width: 100%;
}
.th {
	border-right: solid 3px blue;
}
.a {
	background-color: aliceblue;
}
.footer {
	background-color: #00FDFF;
	height:30px;
	width:100%;
}